#!/bin/bash
EXEC_DIR=
PIDFILE=
LOGFILE=
USER=

cd $EXEC_DIR

start() {
    if [ -f $PIDFILE ]; then
        echo 'Service already running';
    else
        su -c '<command> >> '$LOGFILE' 2>&1 & echo $! > '$PIDFILE''  $USER 
        echo "Service Started";
    fi
}

stop() {
   printf "%-50s" "Stopping Service" 
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        kill $PID
        printf "%s\n" "Ok" 
        rm -f $PIDFILE
    else
        printf "%s\n" "pidfile not found" 
    fi
}

status() {
   printf "%-50s" "Checking service..." 
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        if [ -z "`ps axf | grep ${PID} | grep -v grep`" ]; then
            printf "%s\n" "Process dead but pidfile exists" 
        else
            echo "Running ["$PID"]" 
        fi
    else
        printf "%s\n" "Service not running" 
    fi
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  restart)
    $0 stop
    $0 start
  ;;
  status)
    status
  ;;
  clean)
    rm -f $PIDFILE
  ;;
  *)
    echo "Usage: $0 {start|stop|restart|status|clean}" 
    exit 1
esac
